.forklift-report {
  padding-top: 20px;

  .container {
    display: flex;
    gap: 20px;
  }

  .block {
    flex: 1;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px #00000030;
    border-radius: 10px;

    h1 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}
