nav {
  background: $orange;
  margin-bottom: 20px;
  ul {
    display: flex;
    justify-content: center;
    // gap: 30px;

    li {
      padding: 20px 30px;
      transition: background 0.5s;
      height: 100%;

      a {
        color: $black;
        text-decoration: none;
      }

      &:hover {
        background: $darkOrange;
      }
    }
  }
}
